html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffffff75;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 1rem 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
}

.bold {
  font-weight: 600;
}

#about p {
  margin: 0;
}
.project {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.project h2 {
  margin: 0 0 0.5rem 0;
}

.project h4 {
  margin: 0;
}

.project ul li {
  margin: 4px;
}

.project button {
  border-radius: 4px;
  background-color: #3f3f3f;
  color: #fff;
  border: none;
  text-align: center;
  padding: 6px;
  width: 115px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.project button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.project button::after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -15px;
  transition: 0.5s;
}

.project button:hover {
  padding-left: 4px;
  padding-right:  20px;
}

.project button:hover::after {
  opacity: 1;
  right: 10px;
}

a {
  text-decoration: none;
}

#contact a {
  color: #007BFF;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* styles.css */
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode header {
  background-color: #3f3f3f;
}

body.dark-mode nav ul li a {
  color: white;
}

body.dark-mode nav ul li a:hover {
  color: #ffffff75;
}

body.dark-mode #contact a {
  color: #ff5722;
}

body.dark-mode section {
  background-color: #282828;
}

body.dark-mode .project {
  box-shadow: #1b1b1b;
  background-color: #3f3f3f;
}

body.dark-mode .project button {
  background-color: #575757;
}